* {
	box-sizing: border-box;
}

body {
	background: black;
	font-family: 'Cabin', sans-serif;
	margin: 0 auto;
	color: white;
	overflow: hidden;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: white;
	z-index: 2;
	padding: 0.5em;
	display: flex;
	justify-content: flex-end;
}

nav a {
	color: #FF0042;
	font-weight: 700;
	font-size: 1.25em;
	margin: 0.5em;
	text-decoration: none;
	transition: color 0.25s;
}

nav a:hover {
	color:  #FF87A6;
}

main {
	margin-top: 6em;
	display: flex;
	flex-wrap: wrap;
	padding: 1em;
}

figure {
	margin: 0;
	padding: 1em;
	width: 25%;
}

figure img {
	width: 100%;
	height: 300px;
}

ul a {
	
	font-size: 5em;
	font-weight: 700;
	color: white;
	text-decoration: none;
}

.menu {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	list-style: none;
}

ul a:hover {
	color:  #FF87A6;
}

.center {
	margin: 0 auto;
}

.box {
	width: 700px;
	margin: 0 auto;
	border: 3px solid #FF0042;
	padding: 1.25em;
	animation: flash 1s infinite;
	margin-top: 5em;
}

.box1 {
	margin: 0 auto;
	width: 200px;
	border: 3px solid #FF0042;
	color: white;
	text-align: center;
	padding: 1.25em;
	animation: flash 1s infinite;
}

.box2 {
	width: 275px;
	padding: 1.5em;
	animation-delay: 1s;
}

.box3 {
	width: 350px;
	padding: 1.5em;
	animation-delay: 2s;
}

.box4 {
	width: 425px;
	padding: 1.5em;
	animation-delay: 3s;
}

.box5 {
	width: 500px;
	padding: 1.5em;
	animation-delay: 4s;
}

.box6 {
	width: 575px;
	padding: 1.5em;
	animation-delay: 5s;
}

.box7 {
	width: 650px;
	padding: 1.5em;
	animation-delay: 6s;
}

.box8 {
	width: 725px;
	padding: 1.5em;
	animation-delay: 7s;
}

.box9 {
	width: 800px;
	padding: 1.5em;
	animation-delay: 8s;
}

.box10 {
	width: 875px;
	padding: 1.5em;
	animation-delay: 9s;
}

.glitch-a {
	color: white;
	width: 100%;
	font-weight: 700;
	position: absolute;
	z-index: 2;
}

.glitch-b {
	color: #00ffff;
	width: 100%;
	font-weight: 700;
	padding-left: 20px;
	position: absolute;
	opacity: 0.5;
	z-index: 3;
}

.glitch-c {
	color: red;
	width: 100%;
	font-weight: 700;
	padding-right: 20px;
	position: absolute;
	opacity: 0.5;
	z-index: 1;
}

.link {
	width: 100%;
	text-decoration: none;
	color: #FF0042;
}

.link:hover {
	color:  #FF87A6;
}

.crop {
	height: 100px;
}

.type p {
	font-size: 5em;
	margin: 0px;
}

.exposed {
	margin-top: 15em;
}

@keyframes flash {
	100% {
		border: 3px solid #FF87A6;
	}
}





